#ingredient-list::-webkit-scrollbar {
  display: none;
}

#ingredient-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#nutrition::-webkit-scrollbar {
  display: none;
}

#nutrition {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#review-button {
  display: inline-block;
  padding: 1em 1.5em;
  border: 0.16em solid #454545;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #454545;
  text-align: center;
  transition: all 0.15s;
}

#review-button:hover {
  color: #959595;
  border-color: #959595;
}
#review-button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
@media all and (max-width: 30em) {
  #review-button {
    display: block;
    margin: 0.4em auto;
  }
}
